Repository xeroxinteractive/config, pull requests merged in 2020-11, with the labels that each got.

#459 Node 14 + loosen peer dependency
  .github/workflows/test.yml
  package.json
  packages/xerox-browserslist-config/package.json
  packages/xerox-semantic-release-config/package.json
  yarn.lock
Labels: change: dependencies, release

#469 Cleanup + auto prereleases
  .github/dependabot.yml
  .github/labels.yml
  .github/workflows/publish.yml
  .huskyrc.js
  package.json
Labels: approved, change: chore, release

#470 Update yarn.lock
  yarn.lock
Labels: bug, change: chore, release

#468 Node 14 + loosen peer dependency
  .github/dependabot.yml
  .github/labels.yml
  .github/workflows/publish.yml
  .github/workflows/test.yml
  .huskyrc.js
  package.json
  packages/xerox-browserslist-config/package.json
  packages/xerox-semantic-release-config/package.json
  yarn.lock
Labels: release

#499 ci: lerna yarn caching
  .github/workflows/browserslist-stats-cron.yml
  .github/workflows/publish.yml
  .github/workflows/test.yml
Labels: release

#502 React 17 + TS 4.1
  .github/dependabot.yml
  .github/workflows/browserslist-stats-cron.yml
  .github/workflows/publish.yml
  .github/workflows/test.yml
  .vscode/settings.json
  README.md
  package.json
  packages/xerox-browserslist-config/package.json
  packages/xerox-commitlint-config/package.json
  packages/xerox-eslint-config/__fixtures__/react/index.jsx
  packages/xerox-eslint-config/__fixtures__/typescriptreact/index.tsx
  packages/xerox-eslint-config/__fixtures__/typescriptreact/tsconfig.json
  packages/xerox-eslint-config/package.json
  packages/xerox-eslint-config/react.js
  packages/xerox-prettier-config/package.json
  packages/xerox-semantic-release-config/package.json
  packages/xerox-stylelint-config/package.json
  yarn.lock
Labels: release
